---
import Layout from '../layouts/Layout.astro'
import ProjectCard from '../components/ProjectCard.astro'
import Typro from '../media/typro.jpeg'

---

<Layout title="SiddhantSoftware">
	<main class="">
		<div class="py-20 select-none md:py-60 flex w-full place-items-center justify-center">
			<div class="uppercase tracking-widest grid gap-y-3 text-center font-bold">
				<div class="text-8xl">Siddhant</div>
				<div class="text-6xl">Software</div>
				<div class="opacity-70">
					— OSS — BLOGS — TECH —  
				</div>
			</div>
		</div>
		<div class="bg-white py-10 text-black px-10">
			<div class="text-4xl  font-semibold">
				Latest Blogs
			</div>
			<div class="flex px-3 py-5 gap-x-4 overflow-x-scroll">
				<ProjectCard image={Typro} title={"This is about Typro my new project"} description='Yeha so this is the MENAs first touch typing competition and what not woah woah' />	
			
				<ProjectCard image={Typro} title={"This is about Typro my new project"} description='Yeha so this is the MENAs first touch typing competition and what not woah woah' />	
				<ProjectCard image={Typro} title={"This is about Typro my new project"} description='Yeha so this is the MENAs first touch typing competition and what not woah woah' />	
			
				<ProjectCard image={Typro} title={"This is about Typro my new project"} description='Yeha so this is the MENAs first touch typing competition and what not woah woah' />	

				<ProjectCard image={Typro} title={"This is about Typro my new project"} description='Yeha so this is the MENAs first touch typing competition and what not woah woah' />	
			
				<ProjectCard image={Typro} title={"This is about Typro my new project"} description='Yeha so this is the MENAs first touch typing competition and what not woah woah' />	
			</div>
		</div>
	</main>
</Layout>
